.idea
.DS_Store
/assignment6/data/aligned_faces_example/
/assignment6/data/face_template/
/assignment6/data/lankmarks_example/
/assignment6/data/scanned_faces_cleaned/
/assignment6/data/aligned_faces/
/assignment6/data/aligned_faces_lowres/
/assignment6/data/aligned_faces_highres/
/assignment6/data/preprocessed_faces/
/assignment6/data/vae_faces/
/assignment6/cmake-build-debug/
