.idea
.DS_Store
/assignment6/data/aligned_faces_example/
/assignment6/data/lankmarks_example/
/assignment6/data/aligned_faces/
/assignment6/data/aligned_faces_highres/
/assignment6/data/preprocessed_faces/
/assignment6/cmake-build-debug/
